/* Fade animation for navbar using React Transition Group */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
@media (max-width: 1024px) {
  .lg\\:hidden {
    display: block;
  }
  .li {
    margin-bottom: 30px;
  }
}
